.container {
    width: 100% !important;
}

.CodeMirror-code {
    width: 84%;
}

.rendered_html p code {
    color: red;
}

div.output_area pre {
    background-color: #f2f2f2;
    padding-left: 10px;
    border: .5px solid #d9d9d9;
    border-radius: 10px;
    width: 85%;
}

.rendered_html img, .rendered_html svg {
    float: left;
}
